@font-face {
    font-family: 'Cat-Comic';
    src: url('fonts/Cat-Comic.eot');
    src: url('fonts/Cat-Comic.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cat-Comic.woff2') format('woff2'),
         url('fonts/Cat-Comic.woff') format('woff'),
         url('fonts/Cat-Comic.ttf') format('truetype'),
         url('fonts/Cat-Comic.svg#Cat-Comic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comic-Lemon';
    src: url('fonts/Comic-Lemon.eot');
    src: url('fonts/Comic-Lemon.eot?#iefix') format('embedded-opentype'),
         url('fonts/Comic-Lemon.woff2') format('woff2'),
         url('fonts/Comic-Lemon.woff') format('woff'),
         url('fonts/Comic-Lemon.ttf') format('truetype'),
         url('fonts/Comic-Lemon.svg#Comic-Lemon') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-width-desktop: 1792px;
    --bg-height-desktop: 1024px;
    --bg-width-mobile: 700px;
    --bg-height-mobile: 1280px;
    --tab-width-desktop: 305px;
    --scaled-tab-width: calc(0.7 * 100% / 5); /* 70% of the total width divided by 5 buttons */
    --spacing-desktop: calc((100% - 5 * var(--scaled-tab-width)) / 6); /* Remaining 30% divided by 6 (3 gaps on each side) */
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Cat-Comic', Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.foreground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}

.nav-btn, .buy-btn, .back-button {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 2;
    height: auto;
}

.nav-btn, .buy-btn {
    width: var(--scaled-tab-width);
    bottom: 9.7%; /* Position adjusted */
}

#tab1 {
    left: var(--spacing-desktop);
}

#tab2 {
    left: calc(var(--spacing-desktop) * 2 + var(--scaled-tab-width));
}

#tab3 {
    left: calc(var(--spacing-desktop) * 3 + var(--scaled-tab-width) * 2);
}

#tab4 {
    left: calc(var(--spacing-desktop) * 4 + var(--scaled-tab-width) * 3);
}

#tab5 {
    left: calc(var(--spacing-desktop) * 5 + var(--scaled-tab-width) * 4);
}

.buy-btn.desktop {
    top: 4.9%; /* Position adjusted */
    left: calc((1640 / var(--bg-width-desktop)) * 100%);
    width: 6%; /* Size adjusted */
}

.buy-btn.mobile {
    top: 70%; /* Adjusted position */
    left: 50%;
    transform: translateX(-50%);
    width: 30%; /* Adjusted size */
    transition: width 0.3s ease, transform 0.3s ease;
}

.buy-btn.mobile:hover {
    width: 39%; /* 130% of the original size */
    transform: translateX(-50%) scale(1.3);
}

.nav-btn:hover, .buy-btn:hover, .back-button:hover {
    transform: scale(1.15);
}

.section {
    padding: 20px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9); /* Light background for visibility */
}

.back-button {
    top: 20px;
    left: 20px;
    width: 50px; /* Adjust as necessary */
}

.contract-address-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9e8c4; /* Adjust color to match your theme */
    border: 1px solid #d1b394;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px auto; /* Center align horizontally */
    width: 100%;
    max-width: 50%;
    font-family: 'Cat-Comic', Arial, sans-serif;
}

.contract-address-container-buy {
    display: flex;
    justify-content: flex-start; /* Align left under text */
    margin: 20px 0; /* Remove horizontal centering margin */
    align-items: center;
    background-color: #f9e8c4; /* Adjust color to match your theme */
    border: 1px solid #d1b394;
    border-radius: 10px;
    padding: 20px 20px;
    padding-left: 5%;
    width: 100%;
    max-width: 50%;
    font-family: 'Cat-Comic', Arial, sans-serif;
}

.contract-address-text {
    font-size: 1.2em;
    color: #4c3a32;
    margin: 0;
}

.copy-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #4c3a32;
}

.copy-button:hover {
    color: #eba83e; 
}

.disclaimer-buttons {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    gap: 10px;
    margin-top: 30px;
}

.disclaimer-buttons button {
    padding: 30px 60px;
    background-color: #d1b394;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2em;
    font-family: 'Cat-Comic', Arial, sans-serif;
}


.popup-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #f9e8c4;
    padding: 20px;
    border: 1px solid #d1b394;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
    font-family: 'Cat-Comic', Arial, sans-serif;
}

.popup-content h2 {
    margin-top: 0;
}

.close-button, .close-popup {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
}

.close-popup {
    display: block;
    margin: 20px auto 0;
    background-color: #d1b394;
    padding: 10px 20px;
    border-radius: 5px;
}

.home {
    background-color: #eba83e;
}

.hero-home {
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-family: 'Comic-Lemon', Arial, sans-serif;
}

.hero-home h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    width: 100%;
}

.hero-home[data-animation="slideInLeft"] h1 {
    animation: slideInLeft 2s forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-150%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(150%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.home-image-container {
    flex: 0 0 30%; /* 30% of the width */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.home-image {
    width: 100%;
    height: auto;
    object-fit: contain; /* Ensures the image is not cropped */
}

.home-content p {
    flex: 0 0 50%; /* 50% of the width */
    font-size: 1.5em;
    line-height: 1.5;
    text-align: center;
    color: #000;
    padding: 40px;
    box-sizing: border-box;
}

.about {
    background-color: #f2d9a7;
}

.hero-about {
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-family: 'Comic-Lemon', Arial, sans-serif;
}

.hero-about h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #000;
    position: relative;
    width: 100%;
}

.hero-about[data-animation="slideInRight"] h1 {
    animation: slideInRight 2s forwards;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.about-content p {
    max-width: 700px;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    color: #000;
}

.about-image-container {
    flex: 1 1 300px; /* Flexible layout */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-image {
    max-width: 30%;
    margin: 10px;
    border-radius: 10px;
}


.tokenomics {
    background-color: #e87f48;
    padding: 20px;
}

.hero-tokenomics {
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-family: 'Comic-Lemon', Arial, sans-serif;
}

.hero-tokenomics h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    width: 100%;
}

.hero-tokenomics[data-animation="slideInLeft"] h1 {
    animation: slideInLeft 2s forwards;
}


.tokenomics-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.tokenomics-image-container {
    flex: 0 0 20%; /* 60% of the width */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.tokenomics-image {
    width: 40%;
    height: auto;
    object-fit: contain; /* Ensures the image is not cropped */
}

.tokenomics-content p {
    flex: 0 0 50%; /* 50% of the width */
    font-size: 1.5em;
    line-height: 1.5;
    text-align: center;
    color: #000;
    padding: 40px;
    box-sizing: border-box;
}


.socials {
    background-color: #aa7c5e;
    padding: 20px;
}

.hero-socials {
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-family: 'Comic-Lemon', Arial, sans-serif;
}

.hero-socials h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #000;
    position: relative;
    width: 100%;
}

.hero-socials h2 {
    color: #fff;
}

.hero-socials[data-animation="slideInRight"] h1 {
    animation: slideInRight 2s forwards;
}


.socials-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.text-container {
    flex: 0 0 70%; /* 60% of the width */
    padding: 20px;
    box-sizing: border-box;
}

.text-container  {
    font-size: 1.5em;
    line-height: 1.5;
    text-align: right;
    color: #000;
}

.image-container {
    flex: 0 0 30%; /* 30% of the width */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.socials-image {
    width: 30%;
    height: auto;
    justify-content: left;
    object-fit: contain; /* Ensures the image is not cropped */
}

.socials-content p {
    flex: 0 0 40%; /* 50% of the width */
    font-size: 1.5em;
    line-height: 1.5;
    text-align: center;
    color: #000;
    padding: 40px;
    box-sizing: border-box;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.icon {
    width: 50px;
    height: 50px;
}

.exchanges {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.exchange {
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exchange img {
    height: 30px;
}

.buy {
        background-color: #997e4f;  
}

.hero-buy[data-animation="slideInLeft"] h1 {
    animation: slideInLeft 2s forwards;
}

.hero-buy {
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-family: 'Comic-Lemon', Arial, sans-serif;
}

.hero-buy h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    width: 100%;
}

.hero-buy h2 {
    font-size: 2em;
    color: #fff;
}

.buy-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.buy-text-container {
    flex: 0 0 60%; /* 60% of the width */
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Cat-Comic', Arial, sans-serif;
}

.buy-text-container h2,
.buy-text-container p {
    font-size: 1.5em;
    line-height: 1.5;
    text-align: left;
    color: #000;
}

.iframe-container {
    flex: 0 0 40%; /* 40% of the width */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.iframe-container iframe {
    width: 100%;
    height: 500px;
    border: none;
}

/* Hide mobile assets on desktop and vice versa */
.mobile {
    display: none;
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .buy-btn.mobile {
        display: none;
    }

    .home-image {
        max-width: 100%; /* Adjust as necessary for desktop */
    }
}

@media (max-width: 767px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .buy-btn.desktop {
        display: none;
    }

    .section {
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .home {
        background-color: #eba83e;
        padding-top: 15%;
    }

    .hero-home[data-animation="slideInLeft"] h1 {
        animation: slideInLeft 2s forwards;
    }

    @keyframes slideInLeft {
        from {
            transform: translateX(-150%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .hero-home {
        margin-bottom: 20px;
    }

    .hero-home h1 {
        font-size: 2em;
        margin: 0;
    }

    .home-content {
        flex-direction: column;
        height: auto;
    }

    .home-image-container{
        margin-bottom: 0px;
        width: 100%;
    }

    .home-image {
        max-width: 80%;
    }

    .home-content p{
        font-size: 1.5em;
        line-height: 1.5;
        margin: 0;
        max-width: 90%;
    }

    .about {
        background-color: #f2d9a7;
        padding-top: 15%;
    }

    .hero-about[data-animation="slideInRight"] h1 {
        animation: slideInRight 2s forwards;
    }

    @keyframes slideInRight {
        from {
            transform: translateX(150%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .hero-about {
        margin-bottom: 20px;
    }

    .hero-about h1 {
        font-size: 2em;
        margin: 0;
    }

    .about-content {
        flex-direction: column;
        height: auto;
    }

    .about-image-container{
        margin-bottom: 20px;
        width: 100%;
    }

    .about-image {
        max-width: 80%;
    }

    .about-content p{
        font-size: 1.5em;
        line-height: 1.5;
        margin: 0;
        max-width: 90%;
    }

    .tokenomics {
        background-color: #e87f48;
        padding-top: 15%;
    }

    .hero-tokenomics[data-animation="slideInLeft"] h1 {
        animation: slideInLeft 2s forwards;
    }


    .hero-tokenomics {
        margin-bottom: 0px;
    }

    .hero-tokenomics h1 {
        font-size: 2em;
        margin: 0;
    }

    .tokenomics-content {
        flex-direction: column;
        height: auto;
    }

    .tokenomics-image-container {
        margin-bottom: 0;
        width: 200%;
        display: flex;
        justify-content: center; /* Center the image */
    }

    .tokenomics-image {
        max-width: 200%; /* Expand to 150% */
        height: auto;
        object-fit: contain;
        transform: translateX(-65%); /* Adjust for centering */
    }

    .tokenomics-content p{
        font-size: 1.5em;
        line-height: 1.5;
        margin: 0;
        max-width: 100%;
    }

    .socials {
        background-color: #aa7c5e;
        padding-top: 15%;
    }

    .hero-socials[data-animation="slideInRight"] h1 {
        animation: slideInRight 2s forwards;
    }


    .hero-socials{
        margin-bottom: 0px;
    }

    .hero-socials h1 {
        font-size: 2em;
        margin: 0;
    }

    .socials-content {
        flex-direction: column;
        height: auto;
    }

    .socials-image-container {
        margin-bottom: 0;
        width: 200%;
        display: flex;
        justify-content: center; /* Center the image */
    }

    .socials-image {
        max-width: 200%; /* Expand to 150% */
        height: auto;
        object-fit: contain;
        transform: translateX(0%); /* Adjust for centering */
    }

    .socials-content {
        font-size: 1.5em;
        line-height: 1.5;
        margin: 0;
        max-width: 100%;
    }

    .buy {
        background-color: #997e4f;
        padding-top: 15%;
    }

    .hero-buy[data-animation="slideInLeft"] h1 {
        animation: slideInLeft 2s forwards;
    }


    .hero-buy{
        margin-bottom: 0px;
    }

    .hero-buy h1 {
        font-size: 2em;
        margin: 0;
    }

    .buy-content {
        flex-direction: column;
        height: auto;
    }

    .buy-image-container {
        margin-bottom: 0;
        width: 200%;
        display: flex;
        justify-content: center; /* Center the image */
    }

    .buy-image {
        max-width: 200%; /* Expand to 150% */
        height: auto;
        object-fit: contain;
        transform: translateX(-65%); /* Adjust for centering */
    }

    .buy-content {
        font-size: 1.5em;
        line-height: 1.5;
        margin: 0;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contract-address-container {
        width: 90%; /* Span 90% of the screen width */
        padding: 20px; /* Adjust padding to be consistent */
        margin: 20px auto; /* Center align horizontally */
        max-width: 90%; /* Ensure the max-width is also 90% */
    }

    .contract-address-text {
        font-size: 0.8em;
    }

    .disclaimer-buttons {
        flex-direction: column;
        gap: 5px;
    }

    .disclaimer-buttons button {
        width: 100%;
        height: auto;
    }

    .popup-content {
        width: 90%;
    }

}
